:root {
    --pokemon-type-color: "";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(15, 19, 32);
    color: whitesmoke;
    position: relative;
}

.ctn {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(29, 36, 58);
    border-bottom: 0.5px rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
    padding: 15px 0;
    z-index: 20;
    & .ctn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            & img {
                width: 40px;
                height: 40px;
            }
        }
        & .input_ctn {
            display: flex;
            gap: 5px;
            .delete_filter {
                background-color: white;
                padding: 7px 10px;
                border-radius: 5px;
                height: 30px;
                width: 36px;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    box-shadow: 0 0 5px rgb(29, 36, 58) inset;
                }
            }
            .input_filter {
                position: relative;
                & #search {
                    width: 150px;
                    height: 30px;
                    border-radius: 5px;
                    padding-left: 10px;
                    background-color: white;
                    border: none;
                    outline: none;
    
                    &:focus {
                        box-shadow: 0 0 5px rgb(29, 36, 58) inset;
                    }
                    &::placeholder {
                        color: var(--placeholder-color, gray);
                    }
                }
                & img {
                    position: absolute;
                    height: 16px;
                    width: 16px;
                    top: 7px;
                    right: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 80px;
    margin-bottom: 25px;
    padding: 15px 0;
    min-height: calc(100vh - 80px);
    & .ctn {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
        gap: 20px;
        & .card {
            width: 170px;
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            border: 0.5px solid transparent;
            & .card_header {
                background-color: rgb(29, 36, 58);
                display: flex;
                flex-direction: column;
                padding: 5px;
                & #number_pokemon {
                    align-self: start;
                }
                & #name_pokemon {
                    align-self: center;
                    transition: all 0.1s ease-in-out;
                }
            }
            & .card_img_pokemon_ctn {
                background-image: none;
                transition: all 0.2s ease-in-out;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: end;

                & .card_img_pokemon {
                    background-color: transparent;
                    height: 140px;
                    width: auto;
                    transition: all 0.2s ease-in-out;
                }
            }
            & .card_footer {
                background-color: rgb(29, 36, 58);
                display: flex;
                justify-content: center;
                padding: 10px 0;
                gap: 15px;
                align-items: center;
    
                & .icon_type_of_pokemon {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            &:hover .card_img_pokemon_ctn {
                background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, transparent 100%);
            }
            &:hover .card_img_pokemon {
                scale: 1.1;
                filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 1));
            }
            &:hover #name_pokemon {
                scale: 1.2;
                text-shadow: 0 0 5px black;
            }
            &:hover .card_footer {
                & .icon_type_of_pokemon {
                    box-shadow: 0 0 10px rgba(255,255,255, 0.25);
                    border-radius: 50%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
                border: 0.5px solid rgba(138, 138, 138, 0.5);
            }
        }
    } 
}

footer {
    background-color: rgb(29, 36, 58);
    padding: 15px 0;
    text-align: center;
    border-top: 0.5px rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
}

.card_overlay_ctn {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;
    & .card_overlay {
        position: absolute;
        width: 90%;
        max-width: 350px;
        height: 510px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(138, 138, 138, 0.5);
        border-radius: 10px;
        overflow: hidden;
        cursor: default;
        & .card_overlay_header {
            background-color: rgb(29, 36, 58);
            height: 50px;
            display: flex;
            flex-direction: column;
            & #overlay_number_pokemon {
                align-self: start;
                padding: 10px;
            }
            & #overlay_name_pokemon {
                align-self: center;
                font-size: 22px;
                margin-top: -24px;
                text-shadow: 0 0 5px black;
            }
        }
        & .overlay_card_img_pokemon_ctn {
            display: flex;
            justify-content: space-between;
            align-items: end;
            height: 140px;
            background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, transparent 100%);
            overflow: hidden;
            position: relative;
     
            & #imgOverlay {
                height: 140px;
                filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 1));
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
           
            & .buttonLeftRight {
                width: 30px;
                height: 30px;
                align-self: flex-end;
                border-radius: 50%;
                margin: 5px;
                transition: all 0.2s ease-in-out;
                background-color:  rgba(255, 255, 255, 0.4);
                filter: none;
                &:hover {
                    cursor: pointer;
                    background-color:  rgba(255, 255, 255, 0.6);
                }
                &:active {
                    scale: 0.9;
                }
            }
        }
        & .overlay_card_type_of_pokemon_ctn {
            background-color: rgb(29, 36, 58);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 10px 0;
            & .icon_type_of_pokemon {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                padding: 5px;
            }
        }
        & .overlay_card_menu {
            background-color: rgb(29, 36, 58);
            display: flex;
            gap: 2px;

            & .overlay_menu_link {
                background-color: rgb(37, 61, 65);
                width: 33.3%;
                text-align: center;
                padding: 10px 0;
                border-bottom: 1px solid transparent;
                
                &:hover {
                    cursor: pointer;
                    text-shadow: 0 0 5px black;
                    background-color: rgba(37, 61, 65, 0.75);
                }
            }
        }
        & .overlay_card_info {
            background-color: rgb(29, 36, 58);
            padding: 15px;
            height: 220px;
            & .overlay_info_main {
                display: flex;
                flex-direction: column;
                & .description {
                    width: 130px;
                    display: inline-block;
                    margin-bottom: 15px;
                }
                & .value {
                    display: inline-block;
                    width: 180px;
                }
            }
            & .overlay_info_main > * {
                display: flex;
                gap: 5px;
            }
            & .overlay_info_stats {
                display: none;
                flex-direction: column;
                gap: 15px;

                & div {
                    display: flex;
                    gap: 15px;
                    justify-content: space-between;
                    & span {
                        display: block;
                        width: 40%;
                    }
                    & .process_line {
                        width: 55%;
                        border: 2px solid black;
                        border-radius: 10px;
                        overflow: hidden;
                        & .line_to_fill {
                            width: 0%;
                            border: 1px solid black;
                            border-radius: 10px;
                            background-color: var(--pokemon-type-color);
                            animation: showRedLine 1s ease-in-out;
                        }
                    }
                }
            }
            & .evo_chain {
                height: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                & .evo_chain_ctn {
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & .evo_pokemon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        opacity: 0;
                        gap: 15px;
                        & img {
                            margin: 0 auto;
                            height: 70px;
                            width: 70px;
                            transition: all 0.2s ease-in-out;
                            align-self: baseline;
                            &:hover {
                                cursor: pointer;
                                scale: 1.2;
                                filter: grayscale(0%) drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) !important;
                            }
                        }
                        & #evo1PokemonImg {
                            width: 40px;
                            height: 40px;
                        }
                        & #evo2PokemonImg {
                            width: 70px;
                            height: 70px;
                        }
                        & #evo3PokemonImg {
                            width: 130px;
                            height: 130px;
                        }
                    }
                }
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.showEvoPokemon1Animation {
    animation: showEvoPokemon1 1s ease-in-out;
}

@keyframes showEvoPokemon1 {
    0% {
      opacity: 0;  
    }
    100% {
        opacity: 1;
    }
}

.showEvoPokemon2Animation {
    animation: showEvoPokemon2 1.5s ease-in-out;
}

@keyframes showEvoPokemon2 {
    0% {
      opacity: 0;  
    }
    100% {
        opacity: 1;
    }
}

.showEvoPokemon3Animation {
    animation: showEvoPokemon3 1.5s ease-in-out;
}

@keyframes showEvoPokemon3 {
    0% {
      opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}


.showPokemonAnimation {
    animation: showPokemon 1s ease-in-out;
}

@keyframes showPokemon {
    0% {
        height: 0px;
        opacity: 0;
    }
    80% {
        height: 150px;
    }
    100% {
        height: 140px;
        opacity: 1;
    }
}

@keyframes showRedLine {
    0% {
        transform: translate(-100%);
        background-color: black;
    }
    100% {
        transform: translate(0%);
          /* background-color: rgb(199, 32, 32); */
        background-color: var(--pokemon-type-color);
    }
}

#show_more {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px black inset;
    }

    &:active {
        scale: 0.95;
    }
}

.loadingspinner_ctn {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 50;
    position: fixed;
    background-color: rgba(61, 61, 61, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & #loading_img {
        animation: pokeball 2s infinite;
    }

    & #loading_text {
        text-align: center;
        font-size: 20px;
        height: 50px;
        width: 150px;
    }
}

@keyframes pokeball {
    0% {
        transform: scale(0.95);
        filter: grayscale(0.5);
    }
    80% {
        transform: scale(1);
        filter: grayscale(0);
    }
    100% {
        transform: scale(0.95);
        filter: grayscale(0.5);
    }
}

.bug {
    background: #92BC2C;
}

.dark {
    background: #595761;
}

.dragon {
    background: #0C69C8;
}

.electric {
    background: #F2D94E;
}

.fire {
    background: #FBA54C;
}

.fairy {
    background: #EE90E6;
}

.fighting {
    background: #D3425F;
}

.flying {
    background: #A1BBEC;
}

.ghost {
    background: #5F6DBC;
}

.grass {
    background: #5FBD58;
}

.ground {
    background: #DA7C4D;
}

.ice {
    background: #75D0C1;
}

.normal {
    background: #A0A29F;
}

.poison {
    background: #B763CF;
}

.psychic {
    background: #FA8581;
}

.rock {
    background: #C9BB8A;
}

.steel {
    background: #5695A3;
}

.water {
    background: #539DDF;
}

@media(max-width: 400px) {
    header .ctn {
        display: flex;
        gap: 20px;
    }
    .card_overlay_ctn {
        & .card_overlay {
            & .overlay_card_info {
                & .evo_chain {
                    margin-top: 0px;
                }
            }
        }
    }
}
